#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    overflow: hidden;
}

#hero .first-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .first-container .wrapper {
    width: 80%;
}

#hero .heading {
    font-size: 72px;
    line-height: 90px;
    padding-bottom: 0px;
}

.heading {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
    margin-block-end: 0px;
}

.heading .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.heading .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
}

#hero .first-container p {
    width: 80%;
    color: black;
    line-height: 1.5rem;
    margin-bottom: 30px;
}

#hero .first-container .search-bar,
#hero .first-container p {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
}

#hero .first-container .search-bar {
    animation-delay: 1200ms;
}

#hero .second-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    animation: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 300ms;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#hero .second-container img {
    height: 500px;
}


/*

  SEARCH BAR SECTION

*/

.search-bar {
    background-color: whitesmoke;
    display: inline-block;
    border-radius: 100px;
    border: 1px solid black;
}

.search-bar input {
    background-color: transparent;
    border: none;
    outline: transparent;
    font-family: "Josefin Sans", sans-serif;
    margin-left: 20px;
    width: 200px;
}

.search-bar button {
    padding: 15px;
    outline: none;
    border: none;
    margin: 5px;
    background-color: orange;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 100px;
    font-weight: 700;
    color: black;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: black;
    color: white;
}